<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-irrigation-heading" data-cy="IrrigationCreateUpdateHeading" jhiTranslate="blogApp.irrigation.home.createOrEditLabel">
        Create or edit a Irrigation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="blogApp.irrigation.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.gUID" for="field_gUID">G UID</label>
          <input type="text" class="form-control" name="gUID" id="field_gUID" data-cy="gUID" formControlName="gUID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.source" for="field_source">Source</label>
          <select class="form-control" name="source" formControlName="source" id="field_source" data-cy="source">
            <option [ngValue]="null">{{ 'blogApp.IrriSource.null' | translate }}</option>
            <option *ngFor="let irriSource of irriSourceValues" [value]="irriSource">
              {{ 'blogApp.IrriSource.' + irriSource | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.nutrientLevel" for="field_nutrientLevel">Nutrient Level</label>
          <input
            type="number"
            class="form-control"
            name="nutrientLevel"
            id="field_nutrientLevel"
            data-cy="nutrientLevel"
            formControlName="nutrientLevel"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.solarRadiation" for="field_solarRadiation">Solar Radiation</label>
          <input
            type="number"
            class="form-control"
            name="solarRadiation"
            id="field_solarRadiation"
            data-cy="solarRadiation"
            formControlName="solarRadiation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.inletFlow" for="field_inletFlow">Inlet Flow</label>
          <input type="number" class="form-control" name="inletFlow" id="field_inletFlow" data-cy="inletFlow" formControlName="inletFlow" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.outletFlow" for="field_outletFlow">Outlet Flow</label>
          <input
            type="number"
            class="form-control"
            name="outletFlow"
            id="field_outletFlow"
            data-cy="outletFlow"
            formControlName="outletFlow"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.createdBy" for="field_createdBy">Created By</label>
          <input type="number" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.updatedBy" for="field_updatedBy">Updated By</label>
          <input type="number" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.updatedOn" for="field_updatedOn">Updated On</label>
          <div class="d-flex">
            <input
              id="field_updatedOn"
              data-cy="updatedOn"
              type="datetime-local"
              class="form-control"
              name="updatedOn"
              formControlName="updatedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.deviceID" for="field_deviceID">Device ID</label>
          <select class="form-control" id="field_deviceID" data-cy="deviceID" name="deviceID" formControlName="deviceID">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="deviceOption.id === editForm.get('deviceID')!.value?.id ? editForm.get('deviceID')!.value : deviceOption"
              *ngFor="let deviceOption of devicesSharedCollection; trackBy: trackDeviceById"
            >
              {{ deviceOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.irrigation.plantFactoryID" for="field_plantFactoryID">Plant Factory ID</label>
          <select
            class="form-control"
            id="field_plantFactoryID"
            data-cy="plantFactoryID"
            name="plantFactoryID"
            formControlName="plantFactoryID"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                plantFactoryOption.id === editForm.get('plantFactoryID')!.value?.id
                  ? editForm.get('plantFactoryID')!.value
                  : plantFactoryOption
              "
              *ngFor="let plantFactoryOption of plantFactoriesSharedCollection; trackBy: trackPlantFactoryById"
            >
              {{ plantFactoryOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
