<div>
  <h2 id="page-heading" data-cy="BreederHeading">
    <span jhiTranslate="blogApp.breeder.home.title">Breeders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.breeder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-breeder"
        [routerLink]="['/breeder/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.breeder.home.createLabel"> Create a new Breeder </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="breeders?.length === 0">
    <span jhiTranslate="blogApp.breeder.home.notFound">No breeders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="breeders && breeders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="blogApp.breeder.id">Id</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.gUID">G UID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.breederName">Breeder Name</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.breederType">Breeder Type</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.breederStatus">Breeder Status</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.breederDescription">Breeder Description</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.createdOn">Created On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.updatedBy">Updated By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.breeder.updatedOn">Updated On</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let breeder of breeders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/breeder', breeder.id, 'view']">{{ breeder.id }}</a>
          </td>
          <td>{{ breeder.gUID }}</td>
          <td>{{ breeder.breederName }}</td>
          <td>{{ breeder.breederType }}</td>
          <td>{{ breeder.breederStatus }}</td>
          <td>{{ breeder.breederDescription }}</td>
          <td>{{ breeder.createdBy }}</td>
          <td>{{ breeder.createdOn | formatMediumDatetime }}</td>
          <td>{{ breeder.updatedBy }}</td>
          <td>{{ breeder.updatedOn | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/breeder', breeder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/breeder', breeder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(breeder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
