<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-application-user-security-group-heading"
        data-cy="ApplicationUserSecurityGroupCreateUpdateHeading"
        jhiTranslate="blogApp.applicationUserSecurityGroup.home.createOrEditLabel"
      >
        Create or edit a Application User Security Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.gUID" for="field_gUID">G UID</label>
          <input type="text" class="form-control" name="gUID" id="field_gUID" data-cy="gUID" formControlName="gUID" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.fromDate" for="field_fromDate">From Date</label>
          <div class="d-flex">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="datetime-local"
              class="form-control"
              name="fromDate"
              formControlName="fromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.thruDate" for="field_thruDate">Thru Date</label>
          <div class="d-flex">
            <input
              id="field_thruDate"
              data-cy="thruDate"
              type="datetime-local"
              class="form-control"
              name="thruDate"
              formControlName="thruDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.createdBy" for="field_createdBy">Created By</label>
          <input type="number" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.updatedBy" for="field_updatedBy">Updated By</label>
          <input type="number" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.updatedOn" for="field_updatedOn">Updated On</label>
          <div class="d-flex">
            <input
              id="field_updatedOn"
              data-cy="updatedOn"
              type="datetime-local"
              class="form-control"
              name="updatedOn"
              formControlName="updatedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="blogApp.applicationUserSecurityGroup.securityGroupID" for="field_securityGroupID"
            >Security Group ID</label
          >
          <select
            class="form-control"
            id="field_securityGroupID"
            data-cy="securityGroupID"
            name="securityGroupID"
            formControlName="securityGroupID"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                securityGroupOption.id === editForm.get('securityGroupID')!.value?.id
                  ? editForm.get('securityGroupID')!.value
                  : securityGroupOption
              "
              *ngFor="let securityGroupOption of securityGroupsSharedCollection; trackBy: trackSecurityGroupById"
            >
              {{ securityGroupOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
