<div>
  <h2 id="page-heading" data-cy="PestControlHeading">
    <span jhiTranslate="blogApp.pestControl.home.title">Pest Controls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.pestControl.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pest-control"
        [routerLink]="['/pest-control/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.pestControl.home.createLabel"> Create a new Pest Control </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pestControls?.length === 0">
    <span jhiTranslate="blogApp.pestControl.home.notFound">No pestControls found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pestControls && pestControls.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.id">Id</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.gUID">G UID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.natureOfDamage">Nature Of Damage</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.controlType">Control Type</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.controlMeasures">Control Measures</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.createdOn">Created On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.updatedBy">Updated By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.updatedOn">Updated On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.pestID">Pest ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.pestControl.cropID">Crop ID</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pestControl of pestControls; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pest-control', pestControl.id, 'view']">{{ pestControl.id }}</a>
          </td>
          <td>{{ pestControl.gUID }}</td>
          <td>{{ pestControl.natureOfDamage }}</td>
          <td jhiTranslate="{{ 'blogApp.ConType.' + pestControl.controlType }}">{{ pestControl.controlType }}</td>
          <td>{{ pestControl.controlMeasures }}</td>
          <td>{{ pestControl.createdBy }}</td>
          <td>{{ pestControl.createdOn | formatMediumDatetime }}</td>
          <td>{{ pestControl.updatedBy }}</td>
          <td>{{ pestControl.updatedOn | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="pestControl.pestID">
              <a [routerLink]="['/pest', pestControl.pestID?.id, 'view']">{{ pestControl.pestID?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="pestControl.cropID">
              <a [routerLink]="['/crop', pestControl.cropID?.id, 'view']">{{ pestControl.cropID?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pest-control', pestControl.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pest-control', pestControl.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pestControl)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
