<div>
  <h2 id="page-heading" data-cy="SymptomHeading">
    <span jhiTranslate="blogApp.symptom.home.title">Symptoms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.symptom.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-symptom"
        [routerLink]="['/symptom/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.symptom.home.createLabel"> Create a new Symptom </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="symptoms?.length === 0">
    <span jhiTranslate="blogApp.symptom.home.notFound">No symptoms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="symptoms && symptoms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="blogApp.symptom.id">Id</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.gUID">G UID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.observation">Observation</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.symptomImage">Symptom Image</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.createdOn">Created On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.updatedBy">Updated By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.updatedOn">Updated On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.scoutingID">Scouting ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.diseaseID">Disease ID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.symptom.pestID">Pest ID</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let symptom of symptoms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/symptom', symptom.id, 'view']">{{ symptom.id }}</a>
          </td>
          <td>{{ symptom.gUID }}</td>
          <td>{{ symptom.observation }}</td>
          <td>
            <a
              *ngIf="symptom.symptomImage"
              (click)="openFile(symptom.symptomImage, symptom.symptomImageContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="symptom.symptomImage">{{ symptom.symptomImageContentType }}, {{ byteSize(symptom.symptomImage) }}</span>
          </td>
          <td>{{ symptom.createdBy }}</td>
          <td>{{ symptom.createdOn | formatMediumDatetime }}</td>
          <td>{{ symptom.updatedBy }}</td>
          <td>{{ symptom.updatedOn | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="symptom.scoutingID">
              <a [routerLink]="['/scouting', symptom.scoutingID?.id, 'view']">{{ symptom.scoutingID?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="symptom.diseaseID">
              <a [routerLink]="['/disease', symptom.diseaseID?.id, 'view']">{{ symptom.diseaseID?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="symptom.pestID">
              <a [routerLink]="['/pest', symptom.pestID?.id, 'view']">{{ symptom.pestID?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/symptom', symptom.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/symptom', symptom.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(symptom)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
