<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ennumeration">
      <h2 data-cy="ennumerationDetailsHeading"><span jhiTranslate="blogApp.ennumeration.detail.title">Ennumeration</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.ennumeration.id">Id</span></dt>
        <dd>
          <span>{{ ennumeration.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.ennumeration.enumCode">Enum Code</span></dt>
        <dd>
          <span>{{ ennumeration.enumCode }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.ennumeration.description">Description</span></dt>
        <dd>
          <span>{{ ennumeration.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ennumeration', ennumeration.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
