<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="partyClassification">
      <h2 data-cy="partyClassificationDetailsHeading">
        <span jhiTranslate="blogApp.partyClassification.detail.title">Party Classification</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.partyClassification.id">Id</span></dt>
        <dd>
          <span>{{ partyClassification.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.gUID">G UID</span></dt>
        <dd>
          <span>{{ partyClassification.gUID }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.fromDate">From Date</span></dt>
        <dd>
          <span>{{ partyClassification.fromDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.thruDate">Thru Date</span></dt>
        <dd>
          <span>{{ partyClassification.thruDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.createdBy">Created By</span></dt>
        <dd>
          <span>{{ partyClassification.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.createdOn">Created On</span></dt>
        <dd>
          <span>{{ partyClassification.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ partyClassification.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.updatedOn">Updated On</span></dt>
        <dd>
          <span>{{ partyClassification.updatedOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.partyClassification.partyID">Party ID</span></dt>
        <dd>
          <div *ngIf="partyClassification.partyID">
            <a [routerLink]="['/party', partyClassification.partyID?.id, 'view']">{{ partyClassification.partyID?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/party-classification', partyClassification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
