<div>
  <h2 id="page-heading" data-cy="RoleTypeAttributeHeading">
    <span jhiTranslate="blogApp.roleTypeAttribute.home.title">Role Type Attributes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.roleTypeAttribute.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-role-type-attribute"
        [routerLink]="['/role-type-attribute/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.roleTypeAttribute.home.createLabel"> Create a new Role Type Attribute </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="roleTypeAttributes?.length === 0">
    <span jhiTranslate="blogApp.roleTypeAttribute.home.notFound">No roleTypeAttributes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="roleTypeAttributes && roleTypeAttributes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.id">Id</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.gUID">G UID</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.attributeName">Attribute Name</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.description">Description</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.createdOn">Created On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.updatedBy">Updated By</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.updatedOn">Updated On</span></th>
          <th scope="col"><span jhiTranslate="blogApp.roleTypeAttribute.roleTypeID">Role Type ID</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roleTypeAttribute of roleTypeAttributes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/role-type-attribute', roleTypeAttribute.id, 'view']">{{ roleTypeAttribute.id }}</a>
          </td>
          <td>{{ roleTypeAttribute.gUID }}</td>
          <td>{{ roleTypeAttribute.attributeName }}</td>
          <td>{{ roleTypeAttribute.description }}</td>
          <td>{{ roleTypeAttribute.createdBy }}</td>
          <td>{{ roleTypeAttribute.createdOn | formatMediumDatetime }}</td>
          <td>{{ roleTypeAttribute.updatedBy }}</td>
          <td>{{ roleTypeAttribute.updatedOn | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="roleTypeAttribute.roleTypeID">
              <a [routerLink]="['/role-type', roleTypeAttribute.roleTypeID?.id, 'view']">{{ roleTypeAttribute.roleTypeID?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/role-type-attribute', roleTypeAttribute.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/role-type-attribute', roleTypeAttribute.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(roleTypeAttribute)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
